[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
uvicorn = "*"
psycopg2 = "*"
starlette = "*"
bcrypt = "*"
alembic = "*"
passlib = "*"
python-multipart = "*"
python-jose = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
